@charset "utf-8";

/*
* Final project CIS 370
 * going to the races
 * Date - 11/14/20
 * @author Helen Lee
 */


html{
	 background-image: url(darkForest.png);
	 background-repeat: round;
	 display: absolute;
	align-items: left;
	justify-content: left;
	min-height: 100vh;
	margin: 0;
	top: 100px;
	left: 100px;
 }

body {
	color: white;
	font-size: 1.5em;
}


#red {
width: 75px;
height:75px;
}

#green {
width: 75px;
height:75px;
}

#vampire{
  width: 125px;
  height: 125px;
  position: relative;
   left: 0px;
  top: 100px;
  border-radius: 50px;
  box-shadow: black 0px 0px 20px 10px;

}

  #vampireWin {
    position: absolute;
	display: none;
	border-radius: 50px;
	box-shadow: black 0px 0px 20px 10px;
	z-index: 4;
  }

#werewolf{
  width: 125px;
  height: 125px;
  position: relative;
  left: 0px;
  top: 150px;
  border-radius: 50px;
  box-shadow: black 0px 0px 20px 10px;
  
}

 
  #werewolfWin {
    position: absolute;
    display: none;
	border-radius: 50px;
	box-shadow: black 0px 0px 20px 10px;
	z-index: 3;
  }